<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
	<title>Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/admin.js}"></script>
</head>
<body>
<div class="body">
<h1>Admin</h1>

<table border="1" cellpadding="1" cellspacing="1" style="width: 95%;">
	<thead>
		<tr>
			<th scope="col"><u>Id</u></th>
			<th scope="col"><u>Date</u></th>
			<th scope="col"><u>Title</u></th>
			<th scope="col"><u>Discription</u></th>
			<th scope="col"><u>Function Name</u></th>
			<th scope="col"><u>Text</u></th>
			<th scope="col"><u>Test Input 1 </u></th>
			<th scope="col"><u>Test Output 1 </u></th>
			<th scope="col"><u>Test Input 2 </u></th>
			<th scope="col"><u>Test Output 2 </u></th>
			<th scope="col"><u>Test Input 3 </u></th>
			<th scope="col"><u>Test Output 3 </u></th>
			<th scope="col"><u>Visible</u></th>
			<th scope="col">Options</th>
		</tr>
	</thead>
	<tbody th:each="q : ${questions}">
		<tr>
			<td th:text="${q.id}">&nbsp;</td>
			<td th:text="${#dates.formatISO(q.date)}">&nbsp;</td>
			<td th:text="${q.title}">&nbsp;</td>
			<td th:text="${q.discription}">&nbsp;</td>
			<td th:text="${q.functionName}">&nbsp;</td>
			<td th:text="${q.text}">&nbsp;</td>
			<td th:text="${q.testInput1}">&nbsp;</td>
			<td th:text="${q.testOutput1}">&nbsp;</td>
			<td th:text="${q.testInput2}">&nbsp;</td>
			<td th:text="${q.testOutput2}">&nbsp;</td>
			<td th:text="${q.testInput3}">&nbsp;</td>
			<td th:text="${q.testOutput3}">&nbsp;</td>
			<td th:text="${q.visible}">&nbsp;</td>
            <td>
                <a th:href="@{/question/delete/?title={title}(title=${q.title})}" class="button">X</a>
                <a th:href="@{/admin/modify/?title={title}(title=${q.title})}" class="button">Modify</a>
                <a th:href="@{/question/toggleVisible/?title={title}(title=${q.title})}" class="button">Visibility</a>
            </td>
		</tr>
	</tbody>
</table>

<p style="text-align: center;">
    <a th:if="${not isFirstPage == true}"
        th:href="@{/admin/?page={page}(page=${page}-1)}" class="button">Prev</a>
    <a th:if="${not isLastPage == true}"
        th:href="@{/admin/?page={page}(page=${page}+1)}" class="button">Next</a>
</p>
<p style="text-align: center;">
    <a th:href="@{/admin/insert}" class="button">New Question</a>
</p>

<p>&nbsp;</p>
</div>
</body>
</html>

