<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>CodingBat Clone</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
       <div class="header">
                <a th:href="@{#}" class="button">Run</a>
            <div id="header-left">
                <a href=/><span style='font-size:200%;'>CodingBat</span></a> clone
                <br>
            </div>
            <div id="header-right">
                <a href=/about><span>About</span></a> 
            </div>
       </div>
        <hr />

       <div class="disc">
            <a>List of assorted problems below</a>
       </div>

       <div class="questions">  
            <ul th:each="q : ${questions}">
                <li class="question-list">
                    <a th:href="@{/question/title/{title}(title=${q.title})}" th:text="${q.title}">title</a>
                </li>      
            </ul>
       </div>
       <p style="text-align: center;">
            <a th:if="${not isFirstPage == true}"
                th:href="@{/index/?page={page}(page=${page}-1)}" class="button">Prev</a>
            <a th:if="${not isLastPage == true}"
                th:href="@{/index/?page={page}(page=${page}+1)}" class="button">Next</a>
       </p>
   </body>
    
</html>
