<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>CodingBat Clone</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
       <div class="header">
            <div id="left">
                <a href=/><span style='font-size:200%;'>CodingBat</span></a> clone
                <br>
            </div>
            <div id="right">
                <a href=/about><span>About</span></a> 
            </div>
            <hr />
       </div>

       <div id="disc">
            <a>List of assorted problems below</a>
       </div>

       <div class="questions">  
            <ul th:each="q : ${questions}">
                <li>
                    <a th:href="@{/quest/{title}(title=${q.title})}" th:text="${q.title}">title</a>
                </li>      
            </ul>
       </div>
   </body>
    
</html>
