<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
	<title>CodingBatClone</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1 th:text="${pageTitle}"></h1>
<form class="QuestionForm" action="/question/modify">

    <input th:value="${question?.id}" type="hidden" name="id" />

	<p>Title:<br />
    <input th:value="${question?.title}" maxlength="255" autocomplete="off" name="title" size="50" type="text" /><br />

	Discription:<br />
	<input th:value="${question?.discription}" maxlength="255" autocomplete="off" name="discription" size="50" type="text" /><br />

	Code:<br />
	<textarea th:text="${question?.text}" cols="50" autocomplete="off" name="text" rows="10"></textarea><br />

	Test Cases: <span style="font-size:9px;">(seperate by commas)</span><br />
    <input th:value="${question?.testCases}" maxlength="255" autocomplete="off" name="testCasesStr" size="50" type="text" /><br />

	Visible:<br />
	<input th:checked="${question?.visible}" name="visible" autocomplete="off" type="checkbox" />&nbsp;</p>

	<p><input type="submit" value="Submit"/></p>
</form>

<p>&nbsp;</p>
</body>
</html>
