<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>CodingBat Clone</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
        <a href="/"><span style='font-size:200%;'>CodingBat</span></a> code practice
        <ul>
            <li th:text="${question.title}"></li>      
            <li th:text="${question.date}"></li>      
            <li th:text="${question.discription}"></li>      
            <li th:text="${question.text}"></li>      
        </ul>
        <div>
            <h4>Test Cases</h4>
            <ul th:each="testCase : ${question.testCases}">
                <li th:text="${testCase}"></li>
            </ul>
        </div>
   </body>
    
</html>
