<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>CodingBat Clone</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
       <div class="header">
            <div id="header-left">
                <a href=/><span style='font-size:200%;'>CodingBat</span></a> clone
                <br>
            </div>
            <div id="header-right">
                <a href=/about><span>About</span></a> 
            </div>
       </div>
       <hr />
       <div class="body">
       <div class="question-info">
            <h2 th:text="${question.title}"></h2>
            <br>
            <p th:text="${question.discription}"></p>
       </div>

        <div class="workbox">
            <form class="codebox" th:action="@{/question/run/{t}(t=${title})}">
                <textarea cols="50" id="QuestionText" name="QuestionText" rows="10" th:text="${question.text}"></textarea>        
                <input type="submit" class="submit-button" value="Run"/>
            </form>

            <div th:if="${question?.RunOutput1 != null}" class="testbox">
                <table border="1" cellpadding="1" cellspacing="1" style="width: 35;">
                    <thead>
                        <tr>
                            <th scope="col"><u>Expected</u></th>
                            <th scope="col"><u>Run</u></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="${question.testOutput1}">&nbsp;</td>
                            <td th:text="${question?.RunOutput1}">&nbsp;</td>
                        </tr>
                        <tr>
                            <td th:text="${question.testOutput2}">&nbsp;</td>
                            <td th:text="${question?.RunOutput2}">&nbsp;</td>
                        </tr>
                        <tr>
                            <td th:text="${question.testOutput3}">&nbsp;</td>
                            <td th:text="${question?.RunOutput3}">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
   </body>
    
</html>
